*{
    margin: 0;
    padding: 0;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

html, body { height: 100%; }
body{
   font-family: Helvetica;
}

body > *{
    position: fixed;
    margin: 0.3em;
    padding: 0.5em;
}

#welcome{
    height: 100%;
    width: 100%;
    padding: 10%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.84),  rgba(255, 255, 255, 0.85)), url("./images/fond.jpg");
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.84),  rgba(255, 255, 255, 0.85)), url("./images/fond.jpg");
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.84),  rgba(255, 255, 255, 0.85)), url("./images/fond.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;

    background-color: white;
    z-index: 10;
}

#welcome p{
    margin: 0 auto;

}




#mapContainer, #years{
    width: 69%;
}
#credits, #infos{
    width: 29%;
}
#mapContainer, #infos {
    height: 78%;
}
#years, #credits {
    height: 18%;
}


#mapContainer{
    bottom: 0;
    left: 0;
    padding: 0;
}

.enquete-panel{
    display: none; /* initially */
    background-color: #ffe76a;

    bottom: 2%;
    left: 2%;
    width: 65%;
    height: 74%;

    padding: 10px;
    border-radius: 10px;

    border: 1px dashed black;

    font-size: 0.9em;

    overflow-y: scroll;
}

    .enquete-panel h1{
        font-size: 1.2em;
    }

    .enquete-panel p{
        text-indent: 1.2em;
        margin: 0.5em;

    }

    .enquete-panel .authors{
        font-style: italic;
        display: block;
    }




#years{
    background-color: #EEE;
    top: 0;
    left: 0;
}
    #years > *{
        display: inline-block;
        height: 100%;
        width: 24%;
        text-align: center;
        vertical-align: middle;
        
        padding: 10px 0;
    }
    
    .year{
        display: inline-block;
        padding: 20px;
        /*height: 50%;
        max-height: 60px;*/
        
        
        background-color: white;
        border-radius: 10px;
        border: 2px dashed black;
        cursor: pointer;
        
        font-weight: bold;
        font-size: 1.5em;
    }
        

    

#credits{
    background-color: #DDD;
    top: 0;
    right: 0;
}

#infos{
    bottom: 0;
    right: 0;

    padding:0;
}


    #infos > *{
        padding: 0.5em;
        width: 100%;
        background-color: #CCC;
        position: absolute;
    }
    
    #infos > button.enquete{
        display: none; /* initially */

        background: white url('./images/Bouton_info.png');
        background-repeat: no-repeat;
        background-position: -7px -7px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 5px solid white;
        
        top:60%;
        left:45%;
        z-index:2;

        cursor: pointer;
    }
    
    #currentResult{
        height: 65%;
        top: 0;
    }
    
    #comparison{
        bottom: 0;
        
        min-height: 50px;
        height: 30%;
    }
    
    #bureauInfos{
        position: relative;
    }
    
    .otherInfos{
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        font-size: 0.7em;
        padding-bottom: 0.5em;
    }

    .reg, .abst{
        font-weight: bold;
    }
    
    
    
    #currentYear{
        border-bottom: 1px solid black;
    }
    #context{
        border-bottom: 2px solid black;
    }
    
    #bureau{
        padding: 10px;
        margin: 5px 0;
        color: white;
        font-weight: bold;
    }
    
        .left{
            background-color: #E5212E;
        }
        .right{
            background-color: #1292BB;
        }
        
        #scores .left, #scores .right{
            font-size: 1.5em;

        }


    #leftRight{
        display: table;
        /*border-collapse: collapse;*/
        border-spacing: 5px 0px;
        width: 100%;
        
        font-weight: bold;
    }
        #leftRight > *{
            display: table-row;
        }
            #leftRight > * > *{
               -moz-box-sizing:    border-box;
               -webkit-box-sizing: border-box;
                box-sizing:        border-box;
                display: table-cell;
                width: 50%;
            }
    
    #candidates .left, #candidates .right{
        color: white;
        background-size: contain;
        background-color: transparent;
        background-repeat: no-repeat;
        text-align: center;
        padding: 0.3em;
    }
    
    #candidates .left{
        background-color: #E5212E;

        -moz-box-shadow: 5px 5px 5px #B3212E;
        -webkit-box-shadow: 5px 5px 5px #B3212E;
        box-shadow: 5px 5px 5px #B3212E;
    }
    
    #candidates .right{
        background-color: #1292BB;

        -moz-box-shadow: 5px 5px 5px #007CBB;
        -webkit-box-shadow: 5px 5px 5px #007CBB;
        box-shadow: 5px 5px 5px #007CBB;
    }
    
#scores{
    text-align: center;
}
    #scores > *{    
        padding: 0.2em;
        background-color: transparent;
    }

    #scores .left{
        color: #E5212E;
    }
    #scores .right{
        color: #1292BB;
    }

#progression, #yearChoice{
    display:table-row;
}

#yearChoice{
    font-weight: bold;

}

    .choice{
        cursor: pointer;
        border: 2px outset transparent;
    }

    .choice:hover{
        border-color: black;
        border-radius: 10px;
    }

    #progression > *, #yearChoice > *{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 0.3em 0;
    }
    
    #yearChoice > *{
        width: 20%;
    }
    
    #progression .arrow{
        background-color:transparent;
        background-repeat: no-repeat;
        background-position: center center;
        width: 80%;
        height: 35px;
        color: white;
        font-weight: bold;
    }    
    #progression .arrow.left{
        background-image: url('./images/fleche_rouge.png');
    }
    #progression .arrow.right{
        background-image: url('./images/fleche_bleue.png');
        
    }

.chosenYear{
    color: #F15A24;
    font-weight: bold;
}


#map_canvas{
    width: 100%;
    height: 100%;
    /* Google Maps adds:
    position:relative
    */
}
